#rotate_view .top {
    background-color: #000;
    height: 40%;
    width: 100%;
    position: relative;
}

#rotate_view .top img {
    top: 50%;
    left: 50%;
    margin-left: -48px;
}

#rotate_view .bottom {
    background-color: #000;
    height: 60%;
    width: 100%;
    position: relative;
}

#rotate_view .holder {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -20px;
}

#rotate_view .phone {
    display: block;
    width: 48px;
    height: 24px;
    position: relative;
    background: #fff;
    background-size: 48px 48px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-animation: rotating 2s cubic-bezier(0.785, .135, .15, .86) infinite;
    -moz-animation: rotating 2s cubic-bezier(0.785, .135, .15, .86) infinite;
    -ms-animation: rotating 2s cubic-bezier(0.785, .135, .15, .86) infinite;
    -o-animation: rotating 2s cubic-bezier(0.785, .135, .15, .86) infinite;
    animation: rotating 2s cubic-bezier(0.785, .135, .15, .86) infinite;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

#rotate_view .screen {
    width: 34px;
    height: 18px;
    position: absolute;
    bottom: 3px;
    right: 10px;
    background: #000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

#rotate_view .button {
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: 8px;
    right: 2px;
    background: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

#rotate_view .text {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

@keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(90deg)
    }
    100% {
        -webkit-transform: rotate(90deg)
    }
}

@-moz-keyframes rotating {
    0% {
        -moz-transform: rotate(0deg)
    }
    50% {
        -moz-transform: rotate(90deg)
    }
    100% {
        -moz-transform: rotate(90deg)
    }
}

@-o-keyframes rotating {
    0% {
        -o-transform: rotate(0deg)
    }
    50% {
        -o-transform: rotate(90deg)
    }
    100% {
        -o-transform: rotate(90deg)
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(90deg)
    }
    100% {
        transform: rotate(90deg)
    }
}
