body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
#ut_close, #ut_open {
    display:none;
    position:absolute;
    top:0;
    right:0px;
    z-index:999999;
    margin:10px;
    cursor:pointer;
    width:33;
    height:26;
    z-index: 99;  /*make sure this appears above everything else*/
}
.close_btn {
  right: 2%;
  top: 2%;
}
#ut_close {
    display: block;
}
body.closed #ut_close, body.opened #ut_open {display: none;}
body.opened #ut_close, body.closed #ut_open {display: block;}
*{
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
#stage{
    /*visibility: hidden;*/
    width:100%;
    height:100%;
    position:relative;
    margin:0 auto;
    overflow:hidden;
    user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    transform: translateZ(0);


}
#stage img, #stage div, #stage canvas{
    position: absolute;
    cursor: pointer;    
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.view {
  display: none;
  /*position: absolute;*/
  height: 100%;
  width: 100%;
}


.rb {}
.cb {-o-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.lb {}
.rc {-o-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.cc {-o-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.lc {-o-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.rt {}
.ct {-o-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.lt {}