body {
    margin: 0px;
}
img, div {
    position: absolute;
}
#container { /*set expanded size*/
    position: absolute;
    display: block;
    width: 900px;
    height: 600px;
    right: 0;
}
#ad {
    position: absolute;
    display: block;
    right: 0px;
    border: #009e97 1px solid;
    overflow: hidden;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ad.collapsed { 
    width: 298px;    /*2px smaller to account for border*/    
    height: 598px;    /*2px smaller to account for border*/
}
#ad.expanded {
    width: 898px;    /*2px smaller to account for border*/    
    height: 598px;    /*2px smaller to account for border*/
}
#banner {
    position: absolute;
    display: block;
    width: 298px;    
    height: 598px; 
    /*right: 5px;*/
    background-color: #fff;
    overflow: hidden;
    cursor:pointer;
}
#panel {
    position: absolute;
    width: 898px;
    height: 598px;
    background-color: #fff;
    overflow: hidden;
    /*background-image: url("../images/panel/expanded_bg.jpg")*/
}
.expanded #banner {
    display: none;
}
.collapsed #panel {
    display: none;
}


/*_Loading_Circle____________________________________________________*/
#banner:hover #bannerCover{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #fff; 
    z-index: 50; 
    opacity: 0.5;
}

#banner #loading_circle{
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:60px;
    height:60px;
    z-index:80;
    -webkit-transition:all 0.2s linear ;
    -ms-transition:all 0.2s linear ;
    -moz-transition:all 0.2s linear ;
    transition:all 0.2s linear ;
    opacity:0;
}
#banner #loading_circle.show{
    opacity:1;
}

#banner #loading_circle .semi-circle{
    position:absolute;
    height:100%;
    width:50%;
    left:0;
    border:6px solid white;
    border-radius: 60px  0 0 60px;
    border-right:0;
    box-sizing:border-box;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    -moz-transform-origin: right center;
    transform-origin: right center;
}
#banner #loading_circle #whiteLeft{
    top:-1px;
    left:-1px;
    height:62px;
    width:31px;
    border-width:8px;
    z-index:30;
}
#banner #loading_circle #whiteRight{
    top:-1px;
    left:-1px;
    height:62px;
    width:31px;
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
    z-index:10;
     border-width:8px;
}
#banner #loading_circle #blueLeft{
    border-color: #ffe600;
    z-index:20;  
}
#banner #loading_circle #blueRight{
    border-color: #ffe600;
    z-index:20;
}
#banner #loading_circle #blueRight.blue180{
    -webkit-transition:all 0.5s linear ;
    -ms-transition:all 0.5s linear ;
    -moz-transition:all 0.5s linear ;
    transition:all 0.5s linear ;
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
}
#banner #loading_circle #blueLeft.blue360{
    -webkit-transition:all 1s linear ;
    -ms-transition:all 1s linear ;
    -moz-transition:all 1s linear ;
    transition:all 1s linear ;
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    transform:rotate(360deg);
}
#banner #loading_circle #whiteLeft.atBack{
  z-index:10;
}







/*_____________________________________________*/


.rb {}
.cb {-o-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.lb {}
.rc {-o-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.cc {-o-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.lc {-o-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.rt {}
.ct {-o-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.lt {}

