body,
iframe {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 80%;
    /*background-image: url('http://www.commentnation.com/hotlinks/gray_and_white_diagonal_stripes_background_seamless.gif');*/
    background-image: url('http://i.imgur.com/NWzvJmm.png');
}

p, li, h1, h2, h3, h4, h5, span, input, button {
    font-family: 'Open Sans', sans-serif, Arial;
}

iframe {
    position: absolute;
}

div {
    overflow-y: auto;
}

#controller {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    width: 180px;
    height: 100%;
    padding: 15px;
    background-color: #FDFDFD;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}

#controller * {
    display: block;
    margin: 15px auto 0;
    width: 120px;
}

#controller #origin button {
    margin: 10px;
    width: 20px;
    height: 20px;
    float: left;
    border: 2px solid grey;
    border-radius: 10px;
}

#controller #origin button.currentOrigin {
    background-color: #ff9a9a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
    background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff9a9a, endColorstr=#ff4040);
    border: 1px solid #ff6262;
}

#controller #viewName {
    font-weight: normal;
    margin-top: 10px;
}

#controller #order {
    
    width: 165px;
}
#controller #order ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 370px;
    overflow: auto;
}

#controller #order li {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 2px 20px;
    text-align: center;
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position:relative;
}

#controller #order li:hover {
    cursor: pointer;
}

#controller #order li.layerHighlight {
    background-color: lightgrey;
}
#controller #order li span {
    width:20px;
    height:20px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    position:absolute;
    top:-1px;
    left:-20px;
    display:inline-block;
    background-color:white;
    vertical-align: middle
}

.invalid {
    border-color: red;
    outline-color: red;
}

.fileForm {
    visibility: hidden;
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
}

.fileForm.is-dragover {
    visibility: visible;
    background-color: grey;
    opacity: 0.5
}

.fileForm.is-uploading {
    visibility: visible;
    /*background-color: rgba(173, 216, 230, 0.5);*/
    background: url('loading.gif') #fff;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.fileForm.is-error {
    visibility: visible;
    background-color: red;
}

.fileForm input {
    visibility: hidden;
}
