html,body{
    padding:0;
    margin:0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  /*position: relative;*/
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
}

img, video, .group {
  position: absolute;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.view {
  height: 100%;
  width: 100%;
}

.close {
  cursor: pointer;
}




.rb {}
.cb {-o-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.lb {}
.rc {-o-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.cc {-o-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.lc {-o-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.rt {}
.ct {-o-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.lt {}


